<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="draw2dBean" class="com.ditask1.draw.Draw2D"/>

    <bean id="draw3dBean" class="com.ditask1.draw.Draw3D"/>

    <bean id="circleBean" class="com.ditask1.shape.Circle">
        <constructor-arg ref="draw2dBean"/>
    </bean>

    <bean id="squareBean" class="com.ditask1.shape.Square">
        <property name="drawBehavior" ref="draw3dBean"/>
    </bean>

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="databaseBean" class="com.ditask2.DatabaseOperations">
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>

    <bean id="carBean" class="com.ditask2.Car">
        <constructor-arg ref="databaseBean"/>
    </bean>

    <bean id="planeBean" class="com.ditask2.Plane">
        <property name="databaseOperations" ref="databaseBean"/>
    </bean>
</beans>





